.login-content,
.register-content {
    position: relative;
    top: 20%;
    width: 50%;
    height: 30%;
    margin: 0 auto;
    background-color: white;
    border-radius: 2%;
    box-shadow: 2px 2px 4px gray;
    overflow: hidden;
}

.register-content {
    height: 40%;
}

.content-heading {
    width: 100%;
    height: 20%;
    background-color: #305DFF;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title_text {
    display: block;
    margin-left: 10px;
    font-size: 18px;
}

.form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.form__group {
    width: 100%;
    margin-top: 10px;
    padding: 10px 30px;
    display: flex;
}

.icon {
    width: 32px;
    height: 32px;
}

.form__input-text {
    width: 100%;
    padding-left: 10px;
}

.form__error {
    width: 100%;
    padding: 0 30px;
    color: red;
}

.form__input-text input{
    height: 32px;
    width: 100%;
    border: none;
    border-bottom: 2px solid;
    font-size: 18px;
}

.form__button {
    text-align: right;
    margin-bottom: 0;
    padding-right: 30px;
}

.form__button button {
    cursor: pointer;
    background-color: #305DFF;
    color: white;
    border-radius: 10%;
    border: none;
    margin-left: 15px;
    margin-bottom: 10px;
    padding: 5px 10px;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .login-content,
    .register-content {
        width: 60%;
    }

}