body {
    overflow: hidden;
}

.done-content {
    width: 100vw;
    height: 100vh;
    width: 30em;
    height: 20em;
    margin: 10em auto;
    background-color: white;
    border-radius: 1%;
    box-shadow: 2px 2px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.done-content-text {
    position: relative;
    text-align: center;
    bottom: 20px;
    font-size: 25px;
    font-weight: bold;
}

.done-content-back {
    position: relative;
    text-align: center;
    top: 20px;
}

.done-content-back a{
    text-decoration: none;
    display: inline-block;
    background-color: #305DFF;
    border-radius: 10%;
    color: white;
    padding: 5px 10px;
    /* cursor: pointer; */
}